* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    background-color: #1C1C1C;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    height: 42px;
    width: 52px;
}

.logo_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav_item {
    margin-right: 28px;
}

.nav_item:last-child {
    margin-right: 0px;
}

.nav_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    border: none;
    padding: 15px 36px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #F6762C;
    border-radius: 5px;
    color: #fff;
}

.content {
    padding-top: 186px;
    max-width: 49%;
}

.content_headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    margin-bottom: 7px;

}

.title {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.18;

}

.hero_title {
    margin-bottom: 30px;
}

.content_desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 42px;
}

.food {
    padding: 115px 0px 102px;
}

.container {}

.food_list {
    display: flex;
    justify-content: space-between;
}

.food_item {
    width: calc(25% - 23px);
}

.dish {
    overflow: hidden;
    border-radius: 10px;
    background: #312F30;
}

.dish_img-wrap {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.dish_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dish_desc {
    padding: 28px 35px 30px;
    text-align: center;
}

.dish_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 13px;
}

.paragrav {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: rgba(255, 255, 255, 0.7);
}

.dish_text {
    margin-bottom: 13px;
}

.order {
    background-color: #312f30;
    padding: 73px 0px 80px;
}

.order_container {
    display: flex;
    align-items: center;
}

.container {}

.orderimg-wrap {}

.order_column {
    width: 50%;
}

.order_img {}

.order_desc {
    line-height: 1.18;
}

.order_go-to-action {
    max-width: 371px;
    padding-left: 9%;
}

.go-to-action {}

.call-to-action_title {
    font-weight: 500;
    font-size: 44px;

}

.order_go-to-action-title {
    font-style: 44px;
    margin-bottom: 24px;
}

.call-to-action_text {
    margin-bottom: 13px;
}

.price {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 11px;
}

.order_price {}

.price_new {
    color: rgba(246, 118, 44, 1);
}

.price_old {
    color: rgba(246, 118, 44, 0.3);
    text-decoration-line: line-through;
}

.btn {}